<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      noscript {
        top: 0;
        left: 0;
        width: 100%;
        color: #f00;
        display: block;
        cursor: default;
        line-height: 32px;
        position: absolute;
        text-align: center;
        background: #fff1a8;
        border-bottom: 1px solid #f0c36d;
      }
    </style>
  </head>
  <body>
    <noscript>您已禁用 JavaScript，网站无法正常工作，请启用 JavaScript！</noscript>
    <div id="app"></div>
  </body>
</html>
