# http://editorconfig.org
root = true

# Default files
[*.{js,jsx,ts,tsx,json,svg,html,css,less,sass}]
indent_size = 2
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# NPM package files
[package.json]
insert_final_newline = false

# Minified files
[*.min.{js,css,svg}]
indent_style = false
insert_final_newline = false