.preview {
  max-height: 256px;
  border-radius: 4px;
  border: 1px dashed #d9d9d9;
}

.actions {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.result {
  margin-top: 24px;

  .contents {
    .extra {
      gap: 8px;
      align-items: center;
      display: inline-flex;

      > *:hover {
        color: #4096ff;
        transition: color 0.3s;
      }
    }

    pre {
      margin: 0;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}

.locate {
  margin: 0;
  padding: 0;
}

.locatedToolbar {
  gap: 16px;
  align-items: center;
  display: inline-flex;
  flex-direction: column;

  > p {
    margin: 0;
    padding: 0;
  }
}

.details {
  margin: 0;
  padding: 8px;
  max-height: 386px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #d9d9d9;
  background-color: rgba(0, 0, 0, 0.02);
}
