body {
  margin: 0;
  background: #f0f0f0;
  font-family: "Microsoft YaHei", serif;
}

body .hide {
  display: none;
}

.main {
  margin: 20px auto;
  background: #fff;
  width: fit-content;
  border: 1px solid #bbb;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  height: 0;
  clear: both;
  content: " ";
  font-size: 0;
  display: block;
  visibility: hidden;
}

.indent {
  margin-left: 16px;
}

.tabs {
  margin: -1px;
  height: 40px;
}

.tabs li {
  float: left;
  height: 38px;
  line-height: 38px;
  text-align: center;
  width: calc(50% - 1px);
  border: 1px solid #bbb;
}

.tabs li.selected {
  height: 39px;
  border-width: 1px 0 0 0;
}

.content {
  margin: 20px;
  position: relative;
}

.content li {
  display: none;
  width: 1282px;
}

.content li.selected {
  display: block;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 8px;
  box-sizing: border-box;
}

.encode-result,
.decode-result {
  padding: 8px;
  display: inline-block;
  background: #f0f0f0;
}

.decode-result {
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box;
}

.encode-result img {
  display: block;
  max-width: 944px;
}

.error {
  margin: 0;
  padding: 0;
  color: #f00;
}

label,
select,
input {
  vertical-align: middle;
}

input[type="text"],
input[type="number"] {
  width: 60px;
}

#decode-canvas {
  border: 1px dotted #ccc;
}
